.RevenueHistory {
    color: #161616;	
    font-family: "IBM Plex Sans SemiBold";	
    font-size: 14px;	
    letter-spacing: 0.16px;	
    line-height: 18px;
    padding: 12px 0 0 16px;
    background-color: #F4F4F4;
}

@media (max-width: 1470px) {
    .RevenueHistory {
        border-top: 1px solid #FFFFFF;
    }
}